body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
  font-family: Georgia, serif;
  color: darkolivegreen;
}

h2 {
  font-family: Georgia, serif;
	color: darkolivegreen;
}

h3 {
	font-family: Georgia, serif;
	color: chocolate;
}

h5 {
	font-family: Georgia, serif;
}
